@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
  font-family: 'Rampart One', cursive;
}
body{
  background-color: rgb(230, 230, 230);
}

.digiwatch{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:  10rem;
  color:black;
  text-shadow: 2px 2px lightgrey;
}


body{
  background: linear-gradient(to bottom, red, white,white,green);
  animation: animateGrad 20s ease-in-out infinite;
}

@keyframes animateGrad {
  0%{
    background-size: 100% 200%;
  }
  50%{
    background-size:  100%  100%;
  }
100%{
  background-size:  100% 200%;
}
}



